.unnamed2 {
	height: 20px;
	width: 40px;
	font-size: 10px;
	font-weight: bold;
	color: #666666;
	clear: none;
	float: none;





}
.corpo {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 2px;
	font-style: normal;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
}
.box {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1px;
	font-style: normal;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
}
.corpobanco {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 2px;
	font-style: normal;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
}
.letratopo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #E38800;
	font-weight: bold;
}
.Titulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #333333;
}
.bolinhaform {
	height: 10px;
	width: 10px;
}
.tabela {
	font-size: 1px;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;


}
.0 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1px;
}
