/* Documento CSS da Intranet Acadêmica - UFPR */

.fundo_azul_escuro {
	background-color: #006699;
	overflow: visible;
}
.fundo_azul_claro {
	background-color: #6699CC;
}
.fundo_cinza {
	background-color: #CCCCCC;
}
.fundo_form	{ /* Fundo dos formularios */
	background-color: #CCCCCC;
}
a { /* fonte e cor dos links */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 12px;
}
a:hover { /* links hover mouse */
	color: #333333;
}
input { /* fonte e cor dos botoes e campos */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #006699;
}
.input { /* fonte e cor dos botoes e campos */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #006699;
}
.ufpr { /* fonte e cor do UFPR do titulo */
	font: normal 30px/100px Georgia, "Times New Roman", Times, serif;
	color: #0C547E;
}
.titulo_menu { /* fonte e cor do titulo do menu */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
}

.titulo_login { /* fonte e cor do titulo do menu */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 9px;
	font-weight: bold;
}
.titulo_form { /* fonte do titulo do formulario */
	margin-left: 15px;
	margin-right:15px;
	font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight:700; color: #336699 ; 
}
.letra_form	{ /* fonte do formulario */
	font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: 800; color: #000000; 				  
	margin-right: 20px;
}
.edit { /* alinhamento dos campos */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin: -10px auto -5px 15px;
}
.path { /* fonte dos direitos */
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	font-weight: 300; 
	color: #666666
}
.form { /* alinhamento dos formularios */
	text-align: left;
	width: 520px;
	margin-left: auto;
	margin-right: auto;
}
.branco { /* cor do divisor | do menu */
	color: #FFFFFF;
}